.analysis {
    width: 100%;
}

.analysis-settings {
    width: 30%;
}

.analysis-chart {
    width: 70%;
}

.analysis-filter {
    max-width: 32em;
    min-width: min-content;
    padding: 0.5em;
    border: 0.5pt solid black;
    border-radius: 5px;
}

.analysis-filter-scroll {
    max-height: 7.5em;
    overflow: scroll;
    overflow-x: hidden;
}