.busy {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(128,128,128, 0.7);
}

.busy-center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}