.currency{
	position: relative
}

.currency input {
	padding-right:2em;
	text-align:end;
	word-break: break-word;
	display: inline;
}

.currency:before {
	position: absolute;
	top: 0;
	content:"€";
	right: 1em;
}

.flexLine textarea{
	width: 100%;
}

input[name=ID]:disabled, input[name=Value]:disabled {
	width: 50px;
}
input[name=Account]:disabled, input[name=Date]:disabled {
	width: 100px;
}