.nav {
	display: flex;
	background: #4B77BE;
}

.nav-item{
	padding:0.5em 1em;
	color: white;
	cursor: default;
}

.nav-item:not(.nav-header) {
	cursor: pointer;
}

.nav-item.is-shown, .nav-item:hover:not(.nav-header) {
	background: #1F4788;
}