.detailActions .button {
    margin: 0;
    margin-right: 1em;
    margin-bottom: 2em;
}

.detailColumn {
    margin-right: 1em;
}

.detail-time {
    margin-left: 2em;
}

.detail-time > *{
    margin: 0.1em;
}