.HeaderItem{
	padding:0.5em 1em;
	color: var(--element-font);
	cursor: default;
}

.HeaderItem:not(.HeaderIcon) {
	cursor: pointer;
}

.HeaderItem.selected, .HeaderItem:hover:not(.HeaderIcon) {
	background: var(--bg-element-dark);
}